[Desktop Entry]
Name=Enroll
Comment=GUI for fprintd fingerprint enrolling
Type=Application
Icon=org.cosmic-utils.Enroll
Exec=cosmic-utils-enroll %F
Terminal=false
StartupNotify=true
Categories=Utility;System;
Keywords=Fingerprint;Security;
MimeType=
